name: Build ZMK firmware

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '**'
    paths:
      - "config/**"
      - "boards/**"
      - "build.yaml"
      - "zephyr/**"

jobs:
  build:
    if: github.event_name == 'workflow_dispatch' || !contains(github.event.head_commit.message, '[skip ci]')
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
